<div class="header" >
    <div id="header-top" class="wmw top-bg">
        
    </div>
    <div id="header-bottom" class="container header_top" >
        
    </div>
</div>
<div id="banner" class="wmw">
    <img class="img-responsive" src="images/show.png" />        
</div>
<div class="container" id="main">
    <div class="page-list-bg p10 mt20 frame-border">
        <div class="row release-route-select">
            <div class="col-xs-6 release-route-select-passenger" >
                <label id="select-passenger" > <strong style=""><input type="radio"  value="1">我是乘客</strong> <b>发布需求，让司机联系</b>
                </label>
            </div>
            <div class="col-xs-6 release-route-select-driver" >
                <label id="select-driver"> <strong ><input type="radio"  value="1">我是司机</strong> <b>发布线路，让乘客购买</b>
                </label>
            </div>
        </div>
    </div>

    <!-- friends-links -->
    <div class="row">

        <div class=" page-list-bg p10 mt20 frame-border  friends-links" >
            <dl >
                <dt class="cr333 mb10 f14">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl>
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl >
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl >
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl >
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl>
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>

        </div>

    </div>
</div>
<div id="footer" class="text-center wmw p30 mt15 footer-bg">
        
</div>