  <div class="row">
    <!-- --Start-center-- -->
    <div id="user-content" class="col-xs-8">
      <div class="page-list-bg p10 mt20 frame-border">
        <div class="text-center mb20 pb20">
          <span class="com-block f30 "> 
            <i class="fa cr5b fa fa-check-circle fa-lg mr15"></i>
            恭喜您发布线路成功
          </span>
        </div>
        <div class="page-list">
          <ul>
            <li>
              <div class="mt10">
                <dl>
                  <dt>
                    <img src="images/car.jpg"></dt>
                  <dd>
                    <a href="">
                      绍兴市：绍兴县绍兴市
                      <i class="icon"></i>
                      绍兴市：绍兴县
                    </a>
                  </dd>
                  <dd>
                    <span>
                      出发时间： <strong>2014-09-09&nbsp;</strong>
                    </span>
                    <span>
                      提供座位： <strong>1</strong>
                      个
                    </span>
                  </dd>
                </dl>
              </div>
              <div class="page-list-price-div">
                <span class="page-list-span">￥18元/位</span>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
      <div id="long-distance" class="page-list-bg p10 mt20 frame-border">
        <div class="page-list-title">
          <h4 class="page-header passenger-h">
            <i class="fa fa-hand-o-right cr5b mr10"></i>
            下一步做什么呢？
          </h4>

        </div>
        <div class="row module-release-route-success">
          <div class="col-xs-3">
            <img src="images/next1.png">
            <p>乘客将直接联系你</p>
          </div>
          <div class="col-xs-3">
            <img src="images/next2.png">
            <p>乘客将直接联系你</p>
          </div>
          <div class="col-xs-3">
            <img src="images/next3.png">
            <p>乘客将直接联系你</p>
          </div>
          <div class="col-xs-3">
            <img src="images/next4.png">
            <p>乘客将直接联系你</p>
          </div>

        </div>
      </div>
    </div>
    <!-- col-9 end -->
    <!-- --start left-menu-- -->
    <div id="menu" class="col-xs-4 user-center-menu-col">
      <div id="diary-share" class="page-list-bg p10 mt20 frame-border">
        <div class="page-list-title">
          <h4 class="page-header passenger-h">
            <i class="fa fa-file-image-o cr5b mr10"></i>
            旅游日记
          </h4>
          <a href="#" class="more">更多</a>
        </div>
        <div class="module-travel-diary">
          <ul>
            <li>
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
            <li>
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
            <li>
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
            <li>
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
            <li class="last">
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- --End left-menu-- --> 
  </div>

  <div class="row">
    <div class=" page-list-bg p10 mt20 frame-border  friends-links">
      <dl >
        <dt class="cr333 mb10 f14">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl>
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl>
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl class="friends-links-code-dl">
        <dt class="cr333 f14 mb5">加我们微信</dt>
        <dd class="friends-links-code-dd">
          <img class="friends-links-code-img" src="images/code.png"></dd>
      </dl>
    </div>

  </div>
  <!-- friends-links end -->

