<script type="text/javascript">
	$(function() {

		$("#user_username").change(function(e){

			e.preventDefault();

			$.ajax({
                url: "<%= pzz_users_phone_registered_path %>",
                method: "get",
                dataType: "json",
                data: {username:$("#user_username").val()},
                success: function(data) {
                	console.log("can register");
                	$(".alert").text("");
                	return true;
                },
                error: function(data){
                	console.log("already exist");
                	$(".alert").text("Username already registered, please try another one.");
                	return false;
                }
            });
            
		});

		// jquery validate

        // jquery validate
    $("#new_user").validate({
        rules: {
            "user[username]": {
                required: true
            },
            "user[password]": {
              required: true,
              minlength: 3
            },
            "user[password_confirmation]": {
              required: true,
              minlength: 3,
              equalTo: "#user_password"
            }
        },

        highlight: function(element) {
            $(element).closest(".form-group").addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },


        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        },
        submitHandler: function(form) {
            //jQuery(form).ajaxSubmit(options);
            form.submit();
        }
    });



	});
</script>

<div class="container-fluid">
  	<div class="row text-center">
    	<div class="login-reg-box col-md-12">
		     <p class="top-login-reg">Already a member? <%= link_to "Sign in", new_pzz_user_session_path %></p>
		     <h2 class="page page-header">New user registration</h2>
		     <%= render "form" %>
  		</div><!--span12--> 
	</div><!--row fluid-->
</div><!-- container-fluid --> 


