<div class="wrapper">
    <!-- start-header -->
    <div class="header" >
        <!-- top -->
        <div id="top1" class="wmw">
            <div class="container">
                <div class="left-content">
                    <span class="left-descrip-span">
                        拼座族，拼车的最佳选择
                    </span>
                    <a class="pl30 f14 cr666 pr10" href="user-center.html">
                        心情
                    </a>
                    <!-- <span class="f12 crd9d">|</span>
                    <a class="pl10 f14 cr666" href="">免费注册</a> -->
                </div>
                <ul class="nav nav-pills pull-right">
                    <li class="pull-right dropdown">
                        <a class="f14 cr666 right-padding" data-toggle="dropdown" href="">
                            网站导航▼
                        </a>
                        <ul class="dropdown-menu">
                            <li class="text-center">
                                <a href="#">
                                    test
                                </a>
                            </li>
                            <li class="text-center">
                                <a href="#">
                                    test
                                </a>
                            </li>
                            <li class="text-center">
                                <a href="#">
                                    test
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="pull-right dropdown">
                        <a class="f14 cr666 right-padding right-li" href="#">
                            如何拼座？
                        </a>
                    </li>
                    <li class="pull-right dropdown">
                        <a class="f14 cr666 right-padding right-li" href="index.html">
                            返回首页
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- top end -->
    </div>
    <!-- heaer end -->
    <div class="text-center m30">
    <a href="index.html"><img src="images/logo.jpg"></a></div>
    <div class="container ">
        <div class="row frame-border frame-bgw">
            <div class="text-center mt100 mb180 mr100 ml100 pb30">
                <span class="com-block fl"><i class="fa cr5b fa fa-check-circle fa-4x mr15"></i></span><span class="h2 com-block fl">恭喜您注册成功，现在就开始您的拼座旅途吧！</span>
            </div>
        </div>
    </div>
    <!-- footer start -->
    <div id="footer" class="text-center wmw p30 " >
        <div class="container frame-tborder ">
        
            <p class="pt20">
                <a href="">
              Copyright Reserved 2014-2015 拼座族拼车、搭乘顺风车，仅在拼座族网ICP备585858588
                </a>
                </p>
        </div>

    </div>
    <!-- footer end -->
</div>
<!-- wapper end -->