<div class="page-list-bg p10 mt20 frame-border">
  <div class="mt20 ml20">
    <h4>我的拼座需求</h4>
  </div>
  <div class="user-cr frame-border">

    <ul  class="nav nav-tabs">
      <li class="active">
        <a href="#passenger-apply" data-toggle="tab" onFocus="this.blur()">我申请的拼座</a>
      </li>
      <li>
        <a href="#passenger-invite" data-toggle="tab" onFocus="this.blur()">邀请我加入的拼座</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="passenger-apply">
        
      </div>
      <div class="tab-pane" id="passenger-invite">
        
      </div>
    </div>

  </div>
</div>