<div class="page-list-bg p10 mt20 frame-border">
  <div class="mt20 ml20">
    <h4>我的拼车线路</h4>
  </div>
  <div class="user-cr frame-border">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>出发日期</th>
          <th>线路</th>
          <th>剩余座位</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="myroute-list">
        
        
      </tbody>
    </table>

  </div>
</div>