<div class="wrapper">
      <div class="text-center m30">
          <a href="index.html"><%= image_tag "logo.jpg" %></a>
      </div>
      <div class="container mb50">
          <div class="row ">
              <div class="col-xs-7 mt30">
                  <%= image_tag "lgr.png" %>
              </div>

              <div class="col-xs-5 frame-bgw mt30 frame-border">
                  
                <!-- form -->
                <%= render "form" %>

              </div>
          </div>
      </div>
       <!-- footer start -->
      <div id="footer" class="text-center wmw p30 " >
          <div class="container frame-tborder ">
          
              <p class="pt20 cr666">
                 
                  Copyright Reserved 2014-2015 拼座族拼车、搭乘顺风车，仅在拼座族网ICP备585858588
                
              </p>
          </div>

      </div>
      <!-- footer end -->
</div>
<!-- wrapper end -->
