<div class="container-fluid">
	<div class="row text-center">
		<div class="login-reg-box col-md-12">
		     <p class="top-login-reg">Not a member? <%= link_to "Sign up", new_pzz_user_registration_path %></p>
		      <h2 class="page page-header">Sign in</h2>
		     <%= render "form" %>
	  	</div><!--span12--> 
	</div><!--row fluid-->
</div><!-- container --> 
