<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">心情的手机号</h4>
    </div>
    <div class="modal-body">
      <p>13303360636</p>
    </div>
  </div>
</div>