<div class="page-list-bg p10 mt20 frame-border">

  <div class="mt20 ml20">
    <h4>我的车辆</h4>
  </div>
  <div class="user-cr">
    <form class="form-horizontal mt50 " role="form">

      <div class="form-group m30">
        <label for="inputMobile" class="col-xs-3 control-label cr666 f14">车牌号码：</label>
        <div class="col-xs-2">
          <select class="form-control frame-nradius">
            <option>京</option>
            <option>冀</option>
            <option>苏</option>
          </select>
        </div>
        <div class="col-xs-4">
          <input type="tel" class="form-control frame-nradius" id="inputMobile" placeholder="车牌号"></div>
        <span id="mobile-verify" class="col-xs-3 f12 crred control-label tl"> 
          <i class="fa fa-times-circle crred fa-lg mr5"></i>
          输入车牌号
        </span>
      </div>
      <div class="form-group form-group-sm ">
        <label for="nickName" class="col-xs-3 cr666 f14 control-label">座位数：</label>
        <div class="col-xs-2">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="col-xs-2">
          <span class="cr14">(含驾驶员)</span>
        </div>
      </div>
      <div class="form-group m30">
        <label for="inputMobile" class="col-xs-3 control-label cr666 f14">发动机编号：</label>
        <div class="col-xs-6">
          <input type="tel" class="form-control frame-nradius" id="inputMobile" placeholder="发动机编号" />
        </div>
        <span id="mobile-verify" class="col-xs-3 f12 crred control-label tl"> 
          <i class="fa fa-times-circle crred fa-lg mr5"></i>
          输入发动机编号
        </span>
      </div>
      <div class="form-group form-group-sm ">
        <label for="nickName" class="col-xs-3 control-label cr666 f14">车种：</label>
        <div class="col-xs-3">
          <select class="form-control">
            <option>城市越野车</option>
            <option>跑车</option>
            <option>多功能用途车</option>
            <option>迷你轿车</option>
            <option>小型轿车</option>
            <option>中级轿车</option>
            <option>小型客车</option>
            <option>豪华轿车</option>
          </select>
        </div>
      </div>
      <div class="form-group m30">
        <label for="inputMobile" class="col-xs-3 control-label cr666 f14">保险公司名称：</label>
        <div class="col-xs-6">
          <input type="tel" class="form-control frame-nradius" id="inputMobile" placeholder="保险公司名称"></div>
        <span id="mobile-verify" class="col-xs-3 f12 crred control-label tl">
          <i class="fa fa-times-circle crred fa-lg mr5"></i>
          输入保险公司名称
        </span>
      </div>
      <div class="form-group form-group-xs ">
        <label for="nickName" class="col-xs-3 control-label f14 cr666">保险到期时间：</label>
        <div class="control-group col-xs-3">
          <div class="controls">
            <div class="input-prepend input-group ">
              <span class="add-on input-group-addon border-radius-style">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              </span>
              <input type="text" id='d' class="form-control border-radius-style offer-date-input" />
            </div>
          </div>
        </div>
        <span id="mobile-verify" class="col-xs-3 f12 crred control-label tl">
          <i class="fa fa-times-circle crred fa-lg mr5"></i>
          请选择请选
        </span>
      </div>
      <div class="form-group m30">
        <label for="inputMobile" class="col-xs-3 control-label cr666 f14">保险单号：</label>
        <div class="col-xs-6">
          <input type="tel" class="form-control frame-nradius" id="inputMobile" placeholder="保险单号"></div>
        <span id="mobile-verify" class="col-xs-3 f12 crred control-label tl">
          <i class="fa fa-times-circle crred fa-lg mr5"></i>
          输入保险单号
        </span>
      </div>

      <div class="form-group form-group-sm ">
        <label for="nickName" class="col-xs-3 control-label cr666 f14">保险单扫描件：</label>
        <div class="col-xs-3">
          <input type="file" id="exampleInputFile"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3">
          <div class="col-xs-4">
            <a class="com-rposition"  data-toggle="modal" data-target=".bs-example-modal-sm" >
              <i  class="fa fa-search module-identif-i"></i>
            </a>
            <img class="module-identif-driversimg" src="images/driver1.jpg"></div>

        </div>
      </div>
      <div class="modal fade bs-example-modal-sm " id="mymodal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">驾驶证样本</h4>
            </div>
            <div class="modal-body text-center">
              <img class="module-identif-driverimg" src="images/driver1.jpg"></div>
          </div>
          <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
      </div>
      <!-- /.modal -->

      <div class="form-group form-group-sm ">
        <label for="nickName" class="col-xs-3 control-label cr666 f14">车辆照片：</label>
        <div class="col-xs-3">
          <input type="file" id="exampleInputFile"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3">
          <div class="col-xs-4">
            <a class="com-rposition"  data-toggle="modal" data-target=".bs-example-modal-sm-car" >
              <i  class="fa fa-search module-identif-i"></i>
            </a>
            <img class="module-identif-driversimg" src="images/driver1.jpg"></div>

        </div>
      </div>
      <div class="modal fade bs-example-modal-sm-car " id="mymodal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">车辆照片</h4>
            </div>
            <div class="modal-body text-center">
              <img class="module-identif-driverimg" src="images/driver1.jpg"></div>
          </div>
          <!-- /.modal-content --> </div>
        <!-- /.modal-dialog --> </div>
      <!-- /.modal -->
      <div class="form-group mt20">
        <div class="col-xs-offset-3 col-xs-9">
          <button type="button" class="btn btn-primary p10 frame-nradius btn-sm">确认</button>
          <button type="reset" class="btn btn-sm btn-default p10 frame-nradius ">重置</button>
        </div>
      </div>
    </form>
  </div>
</div>