<div class="logo">
    <a href="index.html">
        <img src="images/logo.jpg" alt="拼座族" />
    </a>
</div>
<div class="menu">
    <a class="toggleMenu" href="#">
        <img src="images/nav_icon.png" alt="" />
    </a>
    <ul class="nav" id="nav">
        <li>
            <a id="menu-home" href="#!home">首页</a>
        </li>
        <li>
            <a id="menu-local" href="#!local">上下班拼座</a>
        </li>
        <li>
            <a id="menu-long" href="#!long">长途拼座</a>
        </li>
        <li>
            <a id="menu-need" href="#!need">乘客需求</a>
        </li>
        <li>
            <a id="menu-share" href="#!share">拼座分享</a>
        </li>
        <li>
            <a id="menu-route" href="#!route">发布线路</a>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
<div class="clearfix"></div>