<div class="logo">
    <a href="index.html" onFocus="this.blur()">
        <img src="images/logo.png" alt="拼座族" />
    </a>
</div>
<div class="menu">
    <ul class="nav" id="nav">
        <li>
            <a id="menu-home" href="#!home" onFocus="this.blur()">首页</a>
        </li>
        <li>
            <a id="menu-local" href="#!local" onFocus="this.blur()">上下班拼座</a>
        </li>
        <li>
            <a id="menu-long" href="#!long" onFocus="this.blur()">长途拼座</a>
        </li>
        <li>
            <a id="menu-need" href="#!need" onFocus="this.blur()">乘客需求</a>
        </li>
        <li>
            <a id="menu-share" href="#!share" onFocus="this.blur()">拼座分享</a>
        </li>
        <li>
            <a id="menu-route" href="#!route" onFocus="this.blur()">发布线路</a>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
<div class="clearfix"></div>