<div class="container">
    <ul id="head-top-left" class="nav nav-pills pull-left">
        <li class="dropdown">
            <span class="f14 cr666 right-padding right-li com-block" href="javascript:void(0)">
                拼座族，拼车的最佳选择
            </span>
        </li>
        <%== isLogin==true?can.view.render('js/app/views/head/login.ejs',{username:username}) : can.view.render('js/app/views/head/logout.ejs',{})%>
    </ul>
    <ul class="nav nav-pills pull-right">
        <li class="pull-right dropdown">
            <a class="f14 cr666 right-padding" data-toggle="dropdown" href="javascript:void(0)" onFocus="this.blur()">
                网站导航
                <b class="pl5">▼</b>
            </a>
            <ul class="dropdown-menu user-top-dropdown-menu frame-nradius">
                <li class="text-center">
                    <a href="javascript:void(0)">
                        test
                    </a>
                </li>
                <li class="text-center">
                    <a href="javascript:void(0)">
                        test
                    </a>
                </li>
                <li class="text-center">
                    <a href="javascript:void(0)">
                        test
                    </a>
                </li>
            </ul>
        </li>
        <li class="pull-right dropdown">
            <a class="f14 cr666 right-padding right-li" href="javascript:void(0)">
                如何拼座？
            </a>
        </li>
        <li class="pull-right dropdown">
            <a class="f14 cr666 right-padding right-li" href="#!home" onFocus="this.blur()">
                返回首页
            </a>
        </li>
    </ul>
</div>

<script>
var source;
$(function(){
    var token = '<%== token %>';
    var login = '<%== login %>';
    if(token != null && token != ""){
        //fetchMessages(token,login);
    }
    
});

function fetchMessages(token,login) {

    setTimeout(function(){
        source = new EventSource('http://192.168.1.115:3000/pzz_messages/sync_messages?auth_token='+token+'&login='+login);
        source.addEventListener('new', function(e) {
            // 有新消息
            console.log('有新消息');
        }, false);

        source.addEventListener('uptodate', function(e) {
           // 没有新消息 
           console.log('没有新消息');
        }, false);

        source.addEventListener('open', function(e) {
            // Connection was opened.
        }, false);

        source.addEventListener('error', function(e) {
           if (e.readyState == EventSource.CLOSED) {
             // Connection was closed.
             console.log(e.message);
            }
        }, false);
    }, 2000);
}
</script>