<li class=" dropdown">
	<a id="gouser-center" href="javascript:void(0)" class="f14 cr666 right-padding" data-toggle="dropdown" onFocus="this.blur()">
	    <%=username %>
	    <b class="pl5">▼</b>
	</a>
	<ul class="dropdown-menu user-top-dropdown-menu frame-nradius">
	    <li class="text-center">
	        <a href="#!userCenter" onFocus="this.blur()">
	            用户中心
	        </a>
	    </li>
	    <li class="text-center">
	        <a href="#" onFocus="this.blur()">
	            我的拼座
	        </a>
	    </li>
	    <li class="text-center" onFocus="this.blur()">
	        <a id="logout" href="javascript:void(0)">
	            退出
	        </a>
	    </li>
	</ul>
</li>
<li>
	<a class="frame-nradius p5 com-rposition" href="index.html" >
        <i class="fa cr666  fa-envelope">
        </i>
        <span id='messageCount' style='display:none;' class="module-inform-span">1</span>
    </a>
</li>