<li class="dropdown">
    <a class="f14 cr666 right-padding right-li" href="#!login" onFocus="this.blur()">
        登录
    </a>
</li>
<li class="dropdown">
    <a class="f14 cr666 right-padding" href="#!register" onFocus="this.blur()">
        免费注册
    </a>
</li>