<div class="mt20 ml20">
  <h4>消息列表</h4>
</div>
<div class="user-cr">
  <table class="table user-ctable">
    <thead>
      <tr>
        <th>状态</th>
        <th>时间</th>
        <th>主题</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="messageList">
      
    </tbody>
  </table>

  <div class="modal fade bs-example-modal-lg" id="message-detail-model">
    
  </div>

</div>