<div class="mt20 ml20">
  <h4>消息列表</h4>
</div>
<div class="user-cr">
  <table class="table user-ctable">
    <thead>
      <tr>
        <th>时间</th>
        <th>消息类型</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="messageList">
      
    </tbody>
  </table>
</div>