<div class="header" >
    <div id="header-top" class="wmw top-bg"></div>
    <div id="header-bottom" class="container header_top" ></div>
</div>
<div id="banner" class="wmw">
    <img class="img-responsive"  src="images/show.png"></div>

<div class="container" id="main">
    
    <div class="row">

        <div class="col-xs-8">
            <div class="page-list-bg p10 mt20 frame-border">
                <div id="list-title" class="pl15 pr15">
                    <h4 class="page-header passenger-h crfb">
                        【兰卡威】珍南海滩，谁为你拉开帷幕
                        <div  class="pt15 pl10">
                            <span class="f14 cr666 pr30">心情</span>
                            <span class="f14 cr666">
                                发表于: <strong class="pl15">2014-5-5</strong>
                            </span>
                        </div>

                    </h4>
                </div>
                <div class="passenger-article">
                    <img   src="images/travel1.jpg">
                    <p>兰卡威是马来西亚最大的一组岛屿,有着清澈的海水，细腻的沙滩和多彩的海底世界，吸引着世界各地的游客络绎不绝地前来度假。</p>
                    <p>
                        从槟城到兰卡威船8：30准时出发，船不大，两层，没什么服务设施。路上好多人晕船，我也不是太舒服。3小时行程，快到时我才活动一下，上到二层拍了几张片片。
                    </p>
                    <p>
                        下船后没急着走，而是拉着箱子往左一点来到巨鹰广场，兰卡威的地标。由于我们将入住珍南海滩，然后飞回北京，这儿是不会再来了，所以还是要在广场转转，拍拍照再走。
巨大的红色雄鹰展翅飞向大海，网络上的晚霞PP更是动人。
                    </p>
                    <p>兰卡威是马来西亚最大的一组岛屿,有着清澈的海水，细腻的沙滩和多彩的海底世界，吸引着世界各地的游客络绎不绝地前来度假。</p>
                    <p>
                        从槟城到兰卡威船8：30准时出发，船不大，两层，没什么服务设施。路上好多人晕船，我也不是太舒服。3小时行程，快到时我才活动一下，上到二层拍了几张片片。
                    </p>
                    <p>
                        下船后没急着走，而是拉着箱子往左一点来到巨鹰广场，兰卡威的地标。由于我们将入住珍南海滩，然后飞回北京，这儿是不会再来了，所以还是要在广场转转，拍拍照再走。
巨大的红色雄鹰展翅飞向大海，网络上的晚霞PP更是动人。
                    </p>
                    <p>兰卡威是马来西亚最大的一组岛屿,有着清澈的海水，细腻的沙滩和多彩的海底世界，吸引着世界各地的游客络绎不绝地前来度假。</p>
                    <p>
                        从槟城到兰卡威船8：30准时出发，船不大，两层，没什么服务设施。路上好多人晕船，我也不是太舒服。3小时行程，快到时我才活动一下，上到二层拍了几张片片。
                    </p>
                </div>
                <!-- passenger-article end -->
                <!-- pre-end-page -->
                <div>
                    <ul class="article-page">
                        <li>
                            上一篇：
                            <a href="">八月桂花香—杭州满觉陇雨赏桂最佳处</a>
                        </li>
                        <li>
                            下一篇：
                            <a href="">北京至长白山/红海滩自驾游记路书攻略</a>
                        </li>
                    </ul>
                </div>
                <!-- pre-end-page end --> </div>
        </div>
        <div class="col-xs-4 ">
            <div id="travel-share" class="page-list-bg p10 mt20 frame-border">
                <div class="page-list-title">
                    <h4 class="page-header passenger-h"> <i class="fa fa-file-image-o cr5b mr10"></i>
                        旅游日记
                    </h4>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="module-travel-diary">
                    <ul>
                        <li>
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                        <li>
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                        <li>
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                        <li>
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                        <li class="last">
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- travel-share end -->
            <div id="roude-share" class="page-list-bg p10 mt20 frame-border">
                <div class="page-list-title">
                    <h4 class="page-header passenger-h"> <i class="fa fa-file-video-o cr5b mr10"></i>
                        路况信息
                    </h4>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="module-msg">
                    <ul>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- roude-meg end -->
            <div id="car-share" class="page-list-bg p10 mt20 frame-border">
                <div class="page-list-title">
                    <h4 class="page-header passenger-h">
                        <i class="fa fa-ge mr10 cr5b"></i>
                        车辆信息
                    </h4>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="module-msg">
                    <ul>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li class="last">
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="text-center wmw p30 mt15 footer-bg"></div>