<div class="header" >
  <div id="header-top" class="wmw top-bg"></div>
  <div id="header-bottom" class="container header_top" ></div>
</div>
<div id="banner" class="wmw">
  <img class="img-responsive"  src="images/show.png"></div>

<div class="container" id="main">
  <div class="row">
    <!-- left -->
    <div class="col-xs-8">

      <div id="share-car" class="page-list-bg p10 mt20 frame-border">
        <div class="page-list-title">
          <h4 class="page-header passenger-h"> <i class="fa fa-ge mr10 cr5b"></i>
            车辆信息
          </h4>
        </div>
        <div class="page-list">
          <ul>
            <li >
              <div class="mt10">
                <dl>
                  <dt>
                    <img src="images/header1.jpg"></dt>
                  <dd>
                    <a href="">为什么要在正规4S店做售后保养呢？</a>
                  </dd>
                  <dd>
                    <p class="pt5">
                      <span class="pr30"> <strong>心情</strong>
                      </span>
                      <span class="f14">
                        发表于： <strong>2014-05-02</strong>

                      </span>
                    </p>
                  </dd>
                </dl>
              </div>
              <div class="page-list-price-div">
                <span class="page-list-span"> <i class="fa fa-umbrella  mr5  cr3b"></i>
                  车辆保养
                </span>
              </div>
            </li>
            <li class="last" >
              <div class="mt10">
                <dl>
                  <dt>
                    <img src="images/header.png"></dt>
                  <dd>
                    <a href="">为什么要在正规4S店做售后保养呢？</a>
                  </dd>
                  <dd>
                    <p class="pt5">
                      <span class="pr30">
                        <strong>心情</strong>
                      </span>
                      <span class="f14">
                        发表于：
                        <strong>2014-05-02</strong>

                      </span>
                    </p>
                  </dd>
                </dl>
              </div>
              <div class="page-list-price-div">
                <span class="page-list-span">
                  <i class="fa fa-car  mr5  crfb"></i>
                  驾驶技巧
                </span>
              </div>
            </li>
          </ul>
        </div>
        <!-- paging start  -->
        <div class="text-right">
          <ul class="pagination">
            <li class="disabled">
              <a href="#">&laquo;</a>
            </li>
            <li class="active">
              <a href="#">
                1
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- right -->
    <div class="col-xs-4">

      <div id="travel-share" class="page-list-bg p10 mt20 frame-border">
        <div class="page-list-title">
          <h4 class="page-header passenger-h">
            <i class="fa fa-file-image-o cr5b mr10"></i>
            旅游日记
          </h4>
          <a href="#" class="more">更多</a>
        </div>
        <div class="module-travel-diary">
          <ul>
            <li>
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
            <li>
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
            <li>
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
            <li>
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
            <li class="last">
              <img src="images/travel.jpg">
              <p>
                <a href="">与美女拼车_一次心灵的纠结</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- travel-share end -->
      <div id="roude-share" class="page-list-bg p10 mt20 frame-border">
        <div class="page-list-title">
          <h4 class="page-header passenger-h">
            <i class="fa fa-file-video-o cr5b mr10"></i>
            路况信息
          </h4>
          <a href="#" class="more">更多</a>
        </div>
        <div class="module-msg">
          <ul>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- roude-meg end -->
      <div id="car-share" class="page-list-bg p10 mt20 frame-border">
        <div class="page-list-title">
          <h4 class="page-header passenger-h">
            <i class="fa fa-ge mr10 cr5b"></i>
            车辆信息
          </h4>
          <a href="#" class="more">更多</a>
        </div>
        <div class="module-msg">
          <ul>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li>
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
            <li class="last">
              <a href="">与美女拼车_一次心灵的纠结</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- car msg --> </div>
    <!-- right end --> </div>

  <div class="row">

    <div class=" page-list-bg p10 mt20 frame-border  friends-links" style="">
      <dl >
        <dt class="cr333 mb10 f14">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl>
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl>
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>

    </div>

  </div>

  <!-- friends-links end -->
</div>

<div id="footer" class="text-center wmw p30 mt15 footer-bg"></div>