<div class="header" >
    <div id="header-top" class="wmw top-bg">
        
    </div>
</div>

<div class="header mb30 login-top">
    <div class="container">
        <img class="fl" src="images/logo.png" />
    </div>
</div>

<div class="container" id="main">
    <div class="row frame-border frame-bgw">
        <div class="text-left m30  pb30">
            <h3>
                <i class="fa cr5b fa-exclamation-circle mr10"></i>找回密码
            </h3>
            <ul class="mod-sub-nav mod-sub-nav-ul">
                <li class="mod-sub-list1">填写用户名</li>
                <li class="mod-sub-list2">验证身份</li>
                <li class="mod-sub-list3 list3-active">设置新密码 </li>
                <li class="mod-sub-list4">验证身份</li>
            </ul>
            <form class="form-horizontal m50 text-left" role="form">
                <div class="form-group ">
                    <label for="inputMobile" class="col-xs-4 control-label">设置新密码：</label>
                    <div class="col-xs-offset-0 col-xs-5">
                        <input type="text" class="form-control frame-nradius" id="inputMobile" placeholder="密码"></div>
                </div>
                <div class="form-group ">
                    <label for="inputMobile" class="col-xs-4 control-label">重复密码：</label>
                    <div class="col-xs-offset-0 col-xs-5">
                        <input type="text" class="form-control frame-nradius" id="inputMobile" placeholder="重复密码"></div>
                </div>
                
                <div class="form-group ">
                     <div class="col-xs-offset-4 col-xs-9">
                        <button type="button" id="submit-btn" class="btn btn-info frame-nradius">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="footer" class="text-center wmw p30" >
        
</div>