<div class="header" >
    <div id="header-top" class="wmw top-bg">
        
    </div>
</div>

<div class="text-left m30">
    <div class="container">
       <a href="#!home"><img src="images/logo-pwd-back.png" /></a>
    </div>
</div>

<div class="container" id="main">
    <div class="row frame-border frame-bgw">
        <div class="text-left m30  pb30">
            <h3>
                <i class="fa cr5b fa-exclamation-circle mr10"></i>找回密码
            </h3>
            <ul class="mod-sub-nav mod-sub-nav-ul">  
                <li class="mod-sub-list1 list1-active">填写用户名</li>
                <li class="mod-sub-list2">验证身份</li>
                <li class="mod-sub-list3">设置新密码 </li>
            </ul>
            <form class="form-horizontal m50 text-left" role="form">
                <div class="form-group ">
                    <label for="inputMobile" class="col-xs-4 control-label">
                        帐号：
                    </label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control frame-nradius" id="username" name="login" placeholder="手机/邮箱" />
                    </div>
                    <span id="username-msg" class="col-xs-4 f14 crred control-label tl">
                    </span>
                </div>
                <div class="form-group ">
                    <label for="inputMobile" class="col-xs-4 control-label">
                        验证码：
                    </label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control frame-nradius" id="fp-code" placeholder="验证码" />
                    </div>
                    <div class="col-xs-2 mt5">
                        <input type="button" class="code" id="codeValue" onclick="createCode()"/>
                    </div>
                    <span id="code-msg" class="col-xs-4 f14 crred control-label tl">
                    </span>
                </div>
                
                <div class="form-group ">
                     <div class="col-xs-offset-4 col-xs-8">
                        <button type="button" id="findPwd-verify" class="btn btn-info p20 frame-nradius">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="footer" class="text-center wmw p30" >
        
</div>
<script>
    $(document).ready(function() {
        createCode();
    });
</script>