<div class="page-list-bg p10 mt20 frame-border">
    <div class="mt20 ml20">
        <h4>我的帖子</h4>
    </div>
    <div class="user-cr">
        <div id="share-travel" class="page-list-bg p10 mt20 ">
            <div class="page-travel-list">
                <ul>
                    <li>
                        <H4 class="pl20 ">
                            <a class="cr199" href="passenger-share-traveldetail.html">八月桂花香—杭州满觉陇雨赏桂最佳处</a>
                        </H4>
                        <span class="cr199">旅游日记</span>
                        <span>发表时间：2014-08-08</span>
                        <p class="pl20 f14">
                            每到八月下旬，杭州的大街小巷充满了桂花香，而今年阴雨天气催开了早桂的盛开，那娇嫩的桂花带着雨丝悄然吹醒着我们的鼻子，清香告诉我们秋天要来了。据当地...
                            <a href="">查看详细</a>
                        </p>
                    </li>
                    <li>
                        <H4 class="pl20 ">
                            <a class="cr199" href="passenger-share-traveldetail.html">八月桂花香—杭州满觉陇雨赏桂最佳处</a>
                        </H4>
                        <a class="pl20 pr20 cr199" href="">心情</a>
                        <span>发表时间：2014-08-08</span>
                        <p class="pl20 f14">
                            每到八月下旬，杭州的大街小巷充满了桂花香，而今年阴雨天气催开了早桂的盛开，那娇嫩的桂花带着雨丝悄然吹醒着我们的鼻子，清香告诉我们秋天要来了。据当地的媒体报导...
                            <a href="">查看详细</a>
                        </p>
                    </li>
                    <li>
                        <H4 class="pl20 ">
                            <a class="cr199" href="passenger-share-traveldetail.html">八月桂花香—杭州满觉陇雨赏桂最佳处</a>
                        </H4>
                        <a class="pl20 pr20 cr199" href="">心情</a>
                        <span>发表时间：2014-08-08</span>
                        <p class="pl20 f14">
                            每到八月下旬，杭州的大街小巷充满了桂花香，而今年阴雨天气催开了早桂的盛开，那娇嫩的桂花带着雨丝悄然吹醒着我们的鼻子，清香告诉我们秋天要来了。据当地的媒体...
                            <a href="">查看详细</a>
                        </p>
                    </li>
                    <li>
                        <H4 class="pl20 ">
                            <a class="cr199" href="passenger-share-traveldetail.html">八月桂花香—杭州满觉陇雨赏桂最佳处</a>
                        </H4>
                        <a class="pl20 pr20 cr199" href="">心情</a>
                        <span>发表时间：2014-08-08</span>
                        <p class="pl20 f14">
                            每到八月下旬，杭州的大街小巷充满了桂花香，而今年阴雨天气催开了早桂的盛开，那娇嫩的桂花带着雨丝悄然吹醒着我们的鼻子，清香告诉我们秋天要来了。据当地的媒体...
                            <a href="">查看详细</a>
                        </p>
                    </li>
                    <li class="last">
                        <H4 class="pl20 ">
                            <a class="cr199" href="passenger-share-traveldetail.html">八月桂花香—杭州满觉陇雨赏桂最佳处</a>
                        </H4>
                        <a class="pl20 pr20 cr199" href="">心情</a>
                        <span>发表时间：2014-08-08</span>
                        <p class="pl20 f14">
                            每到八月下旬，杭州的大街小巷充满了桂花香，而今年阴雨天气催开了早桂的盛开，那娇嫩的桂花带着雨丝悄然吹醒着我们的鼻子，清香告诉我们秋天要来了。据当地的媒体...
                            <a href="">查看详细</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!-- paging start -->
            <div class="text-center">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">
                            1
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>