<div class="page-list-title">
  <h4 class="page-header passenger-h">
    <i class="fa fa-car cr5b mr10"></i>上下班拼座
  </h4>
</div>
<div class="page-list">
  <ul>
    <% lines.each(function(line,i){ %>
    <li class="<%= i==lines.length-1?'last':'' %>">
      <%== can.view.render('js/app/views/local/localItemView.ejs',{line:line}) %></li>
    <% }); %>
  </ul>
</div>
<!-- paging start  -->
<div id="pagination"></div>

<script>
  var options = {  
    currentPage: 1,  
      totalPages :10,               
      itemContainerClass: function (type, page, current) {  
      return (page === current) ? "active" : "pointer-cursor";  
    },  
    itemTexts: function (type, page, current) {  
        switch (type) {  
        case "first":  
            return "首页";  
        case "prev":  
            return "上一页";  
        case "next":  
            return "下一页";  
        case "last":  
            return "末页";  
        case "page":  
            return page;  
        }  
    },  
    onPageClicked: function(e,originalEvent,type,page){  

      e.stopImmediatePropagation();  
      var currentTarget = $(e.currentTarget);  
      var pages = currentTarget.bootstrapPaginator("getPages");  
      // Ajax calling  
      setTableData(page);  
      currentTarget.bootstrapPaginator("show",page);  
      updatePagesInfo($("#totalRecord").val(), page);  
    },  
    pageUrl: function(type, page, current){  
        return "#";  
    }  
  };  
  
  $('#pagination').bootstrapPaginator(options);
</script>