<div class="header mb30 login-top">
    <div class="container">
        <a href="#!home">
            <img class="fl" src="images/logo.png">
        </a>
        <span class="fr pt30">
            已经注册，现在去
            <a href="#!login">登录</a>
        </span>
    </div>
</div>
<div class="container">
    <div class="row frame-border frame-bgw">
        <div class="text-center m30 frame-bborder pb30">
            <H3> <i class="fa cr5b fa-lg fa-check-circle-o mr15"></i>
                还差一步即可完成注册
            </H3>
            <p class="mt50">
                我们已经向您的邮箱
                <span>yuhongjie@live.cn</span>
                发送了一封激活邮件，请点击邮件中的链接完成注册！
            </p>
            <button id="verifymobile" type="button" class="btn btn-info btn-lg mt50 frame-nradius">立即进入邮箱</button>
        </div>
        <div class="text-left m30  pb30">
            <H4> <i class="fa cr5b fa-lg fa-question mr15"></i>
                没有收到确认邮件怎么办？
            </H4>
            <p class="m10">
                <i class="cr999 mr10 fa fa-dot-circle-o"></i>
                看看是否在邮箱的回收站中、垃圾邮件中
            </p>
            <p class="m10">
                <i class="cr999 mr10 fa fa-dot-circle-o"></i>
                重新发送
                <a href="javascript:void(0)">点此重发一封</a>
            </p>
        </div>
    </div>
</div>
<!-- footer start -->
<div id="footer" class="text-center wmw p30 ">
    
</div>