<div class="header mb30 login-top">
    <div class="container">
        <a href="#!home">
            <img class="fl" src="images/logo.png">
        </a>
        <span class="fr pt30">
            已经注册，现在去
            <a href="#!login">登录</a>
        </span>
    </div>
</div>
<div class="container ">
    <div class="row frame-border frame-bgw">
        <div id="register" class="col-xs-8 frame-bg mt30">
            
        </div>
        <div class="col-xs-4 pl20 frame-lborder mt120">
            <p class="text-center frame-bborder pb30">
                快来加入拼座族吧！
            </p>
            <h3 class="pager text-center">最轻松便捷的拼座</h3>
            <div class="text-center">
                <p class="pt10"> <i class="fa fa-star cr5b pr10"></i>
                    分担油费，乐在其中
                </p>
                <p class="pt10"> <i class="fa fa-star cr5b pr10"></i>
                    分享路况，收益大家
                </p>
                <p class="pt10">
                    <i class="fa fa-star cr5b pr10"></i>
                    以车会友，其乐无穷
                </p>
                <p class="pt10">
                    <i class="fa fa-star cr5b pr10"></i>
                    偕同相伴，美化旅途
                </p>
            </div>

        </div>
    </div>
</div>
<div id="footer" class="text-center wmw p30 mt15 footer-bg" >
</div>