<div class=" text-center m10">
    <h3>用户注册</h3>
</div>
<form class="form-horizontal mt50 mb50" role="form">
    <input type="hidden" name="user_phone" value="18310204744" />
    <div class="form-group m30">
        <label for="inputemail" class="col-xs-3 control-label">邮箱：</label>
        <div class="col-xs-5">
            <input type="text" class="form-control frame-nradius" id="email" name="email" placeholder="邮箱">
        </div>
        <span id="email-msg" class="col-xs-4 f14  control-label tl">请，请输入有效邮箱
        </span>
    </div>
    <div class="form-group m15">
        <div class="col-xs-offset-3  col-xs-9">

            <label>
                没有邮箱？
                <a id="mail-reg" onFocus="this.blur()"  href="javascript:void(0)">用手机注册</a>
            </label>

        </div>
    </div>

    <div class="form-group m30 ">
        <label for="inputPassword" class="col-xs-3 control-label">密码：</label>
        <div class="col-xs-5">
            <input type="password" class="form-control frame-nradius" id="password" name="password" placeholder="密码">
        </div>
        <span id="pwd-msg" class="col-xs-4 f14 crred control-label tl">
        </span>
    </div>
    <div class="form-group m30 ">
        <label for="inputPassword" class="col-xs-3 control-label">确认密码：</label>
        <div class="col-xs-5">
            <input type="password" class="form-control frame-nradius" id="confirmPwd" name="password_confirmation" placeholder="确认密码" />
        </div>
        <span id="cfPwd-msg" class="col-xs-4 f14 crred control-label tl">
        </span>
    </div>
    <!--<div class="form-group m30">
        <label for="" class="col-xs-3 control-label">输入验证码：</label>
        <div class="col-xs-3">
            <input type="text" class="form-control frame-nradius" id="" placeholder="验证码"></div>

        <div class="col-xs-6">
            <button type="button" class="btn btn-default frame-nradius">获取短信验证码</button>
        </div>
    </div>-->

    <div class="form-group m30">
        <label for="inputName" class="col-xs-3 control-label">姓名/昵称：</label>
        <div class="col-xs-5">
            <input type="text" class="form-control frame-nradius" id="nickname" name="user_nickname" placeholder="姓名/昵称">
        </div>
        <span id="nickname-msg" class="col-xs-4 f14 control-label tl">
        </span>
    </div>
    <div class="form-group m30">
        <div class="col-xs-offset-3 col-xs-7">
            <div class="checkbox">
                <label class="f12">
                    <input onFocus="this.blur()" id="agreement" type="checkbox">
                    我接受
                    <a class="f12" href="">《拼座族服务使用协议》</a>
                    <span>及</span>
                    <a class="f12" href="">《隐私条款》</a>
                </label>
            </div>
        </div>
        <span id="agreement-msg" class="mt5 col-xs-2 f14 control-label tl"></span>
    </div>
    <div class="form-group m30">
        <div class="col-xs-offset-3 col-xs-5">
            <button id="email-submit" type="button" class="btn btn-lg w btn-info p20 frame-nradius" onFocus="this.blur()">立即注册</button>
        </div>
    </div>
</form>