<div>
  <a href="">关于拼座族</a>
  |
  <a href="">关于拼座族</a>
  |
  <a href="">关于拼座族</a>
  |
  <a href="">关于拼座族</a>
  |
  <a href="">关于拼座族</a>
</div>
<div>
  <a href="">
    Copyright Reserved 2007-2011 AA制拼车、搭乘顺风车，仅在AA拼车网（www.aapinche.cn） ICP备12001863号-3
  </a>
</div>
<div id="floatTools" class="floatservice">
  <div class="floatL">
    <a style="display: block" id="aFloatTools_Show" class="btnOpen" 
            title="查看在线客服" 
            onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();kf_setCookie('RightFloatShown', 0, '', '/', 'www.istudy.com.cn'); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');" 
            href="javascript:void(0);">展开</a>
    <a style="display:none;" id="aFloatTools_Hide" class="btnCtn" 
            title= "关闭在线客服"
            onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide();kf_setCookie('RightFloatShown', 1, '', '/', 'www.istudy.com.cn'); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');" 
            href="javascript:void(0);">收缩</a>
  </div>
  <div id="divFloatToolsView" style="display:none;" class="floatR">
    <div class="tp"></div>
    <div class="cn">
      <ul>
        <li class="top">
          <h3 class="titZx">QQ咨询</h3>
        </li>
        <li>
          <span class="icoZx f14">在线咨询</span>
        </li>
        <li>
          <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f2d7dfba82d78b1185aa9fd5dbd5ea6418616d2aa6bfcebae5c092996c2f0dc1">
            <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="快乐“家族”" title="快乐“家族”"></a>
        </li>
        <li>
          <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f2d7dfba82d78b1185aa9fd5dbd5ea6418616d2aa6bfcebae5c092996c2f0dc1">
            <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="快乐“家族”" title="快乐“家族”"></a>
        </li>
        <li>
          <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f2d7dfba82d78b1185aa9fd5dbd5ea6418616d2aa6bfcebae5c092996c2f0dc1">
            <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="快乐“家族”" title="快乐“家族”"></a>
        </li>
        <li>
          <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f2d7dfba82d78b1185aa9fd5dbd5ea6418616d2aa6bfcebae5c092996c2f0dc1">
            <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="快乐“家族”" title="快乐“家族”"></a>
        </li>
      </ul>
      <ul>
        <li>
          <h3 class="titDh f14">电话咨询</h3>
        </li>
        <li>
          <span class="icoTl f12">400-000-0000</span>
        </li>
        <li class="bot">
          <h3 class="titDc">
            <a href="javascript:void(0)">微信号</a>
          </h3>
        </li>
        <li class="floatservice-code">
          <img class="friends-links-code-img ml10" src="images/code.png"></li>
      </ul>
    </div>
  </div>
</div>