<div id="search-driver-list" class="page-list-bg p10 mt20 ">
    <div class="page-list">
        <ul>
            <li >
                <div class="mt10">
                    <dl>
                        <dt>
                            <img src="images/car.jpg"></dt>
                        <dd>
                            <a href="">
                                绍兴市：绍兴县绍兴市 <i class="icon"></i>
                                绍兴市：绍兴县
                            </a>
                        </dd>
                        <dd>
                            <span>
                                出发时间： <strong>2014-09-09&nbsp;</strong>
                            </span>
                            <span>
                                提供座位： <strong>1</strong>
                                个
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="page-list-price-div">
                    <span class="page-list-span">￥18元/位</span>
                </div>
            </li>
            <li class="last" >
                <div class="mt10">
                    <dl>
                        <dt>
                            <img src="images/car.jpg"></dt>
                        <dd>
                            <a href="">
                                绍兴市：绍兴县绍兴市 <i class="icon"></i>
                                绍兴市：绍兴县
                            </a>
                        </dd>
                        <dd>
                            <span>
                                出发时间：
                                <strong>2014-09-09&nbsp;</strong>
                            </span>
                            <span>
                                提供座位：
                                <strong>1</strong>
                                个
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="page-list-price-div">
                    <span class="page-list-span">￥18元/位</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- paging start  -->
<div class="text-right">
    <ul class="pagination">
        <li class="disabled">
            <a href="#">&laquo;</a>
        </li>
        <li class="active">
            <a href="#">
                1
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">&raquo;</a>
        </li>
    </ul>
</div>