<div class="header" >
    <div id="header-top" class="wmw top-bg">
        
    </div>
    <div id="header-bottom" class="container header_top" >
        
    </div>
</div>
<div id="banner" class="banner-bg wmw home-search-banner h500">
            
</div>
<div class="container" id="main">
    <div class="row">
        <!-- left start -->
        <div class="col-xs-8" >
            <div id="work-local" class="page-list-bg p10 mt20 frame-border detail-search-list">
                <div class="page-list-title">
                    <ul  class="nav nav-tabs ">
                        <li class="active">
                            <a href="#search-driver" data-toggle="tab"> 
                                <i class="fa fa-ge cr5b mr10"></i>司机
                            </a>
                        </li>
                        <li>
                            <a href="#search-passenger" data-toggle="tab">
                                <i class="fa fa-users cr5b mr10"></i>乘客
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-list">
                    <div class="tab-content">
                        <div class="tab-pane active" id="search-driver">
                            
                        </div>
                        <div class="tab-pane" id="search-passenger">
                            
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- left end -->
        <!-- right start-->
        <div class="col-xs-4">

            <div id="diary-share" class="page-list-bg p10 mt20 frame-border">
                <div class="page-list-title">
                    <h4 class="page-header passenger-h">
                        <i class="fa fa-file-image-o cr5b mr10">
                        </i>
                        旅游日记
                    </h4>
                    <a href="#" class="more">更多</a>
                </div>
                <div id="com-travel-diary" class="module-travel-diary">
                    <ul>
                        <li>
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                        <li>
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                        <li>
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                        <li>
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                        <li class="last">
                            <img src="images/travel.jpg">
                            <p>
                                <a href="">与美女拼车_一次心灵的纠结</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="road-share" class="page-list-bg p10 mt20 frame-border">
                <div class="page-list-title">
                    <h4 class="page-header passenger-h">
                        <i class="fa fa-file-video-o cr5b mr10">
                        </i>
                        路况信息
                    </h4>
                    <a href="#" class="more">更多</a>
                </div>
                <div id="com-msg" class="module-msg">
                    <ul>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                        <li>
                            <a href="">与美女拼车_一次心灵的纠结</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div id="car-share" class="page-list-bg p10 mt20 frame-border"></div>
        -->
    </div>
    <!-- right end -->
    </div>

    <div class="row">
        <div class=" page-list-bg p10 mt20 frame-border" style="overflow:auto;margin:15px 15px;">
            <div class="page-list-title">
                <h4 class="page-header passenger-h"> 
                <i class="fa fa-users cr5b mr10"></i>
                和我们一起拼座吧
                </h4>
            </div>
            <div style="margin:10px 40px;" id="all-user">
                
            </div>

        </div>
    </div>

    <div class="row">

        <div class=" page-list-bg p10 mt20 frame-border friends-links">
            <dl>
                <dt class="cr333 mb10 f14">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl>
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl>
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl>
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl>
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            <dl>
                <dt class="cr333 f14 mb10">新手上路</dt>
                <dd >
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
                <dd>
                    <a class="cr999 f12 p5" href="">新手入门</a>
                </dd>
            </dl>
            
            <dl class="friends-links-code-dl">
                <dt class="cr333 f14 mb5">
                    加我们微信
                </dt>
                <dd class="friends-links-code-dd">
                    <img class="friends-links-code-img" src="images/code.png">
                </dd>
            </dl>
        </div>

    </div>
</div>
<div id="footer" class="text-center wmw p30 mt15 footer-bg">
        
</div>