<div class="header mb30 login-top">
  <div class="container">
    <a href="#!home">
      <img class="fl" src="images/logo.png">
    </a>
    <span class="fr pt30">
      还没账号？现在去
      <a href="#!register">注册</a>
    </span>
  </div>
</div>
<div class="container mb50">
  <div class="row ">
    <div class="col-xs-7">
      <img src="images/lgr.png">
    </div>
    <div id="login" class="col-xs-5 frame-bgw mt30 frame-border">
      

    </div>
  </div>
</div>
<!-- footer start -->
<div id="footer" class="text-center wmw p30" >

</div>