<div class="header" >
    <!-- top -->
    <div id="header-top" class="wmw">
        
    </div>
    <!-- top end -->
</div>
<!-- header end -->
<div class="text-left m30">
    <div class="container">
        <a href="index.html">
            <img src="images/logo-pwd-back.png" /></a>
    </div>
</div>
<div class="container ">
    <div class="row frame-border frame-bgw">
        <div class="text-left m30  pb30">
            <h3><i class="fa cr5b fa-exclamation-circle mr10"></i>
                找回密码
            </h3>

            <ul class="mod-sub-nav mod-sub-nav-ul">
                <li class="mod-sub-list1 list1-active">确认帐号</li>
                <li class="mod-sub-list2">安全验证</li>
                <li class="mod-sub-list3">重置密码</li>
            </ul>
            <form class="form-horizontal m50 text-left" role="form">

                <div class="form-group ">
                    <label for="inputMobile" class="col-xs-3 control-label">输入帐号：</label>
                    <div class="col-xs-offset-0 col-xs-6">
                        <input type="text" class="form-control frame-nradius" id="inputMobile" placeholder="手机/邮箱"></div>
                </div>

                <div class="form-group ">
                    <label for="" class="col-xs-3 control-label">输入验证码：</label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control frame-nradius" id="" placeholder="验证码"></div>

                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-default frame-nradius">获取短信验证码</button>
                    </div>

                </div>
                <div class="form-group ">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button type="submit" class="btn btn-lg  btn-info p20 frame-nradius">下一步</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- footer start -->
<div id="footer" class="text-center wmw p30">

</div>