<div class="header">
  <div id="header-top" class="wmw top-bg"></div>
  <div id="header-bottom" class="container header_top" ></div>
</div>
<div class="container" id="main">
  
  <div class="page-list-bg p10 mt20 frame-border">
    <div class="row">
      <!-- left menu -->
      <div id="user-menu" class="col-xs-3 frame-rborder user-center-menu-col">
      </div>
      <!-- left menu -->
      <div id="user-content" class="col-xs-9 ">

      </div>
    </div>
  </div>

  <div class="row">

    <div class=" page-list-bg p10 mt20 frame-border  friends-links" style="">
      <dl >
        <dt class="cr333 mb10 f14">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl>
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl>
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>

    </div>

  </div>
  <!-- friends-links end -->
</div>
<!-- main  end -->
<!-- footer start -->
<div id="footer" class="text-center wmw p30 mt15 footer-bg" >

</div>