<div class="page-list-bg p10 mt20 frame-border">
  <div class="user-cr">
    <dl class="cr666 f14">
      <dt class="f16 mb10">
        你好，
        <span class="cr2e"><%= user.user_nickname %></span>
      </dt>
      <dd class="mb10 f14 cr999">
        <label>可使用短信数：</label>
        <span class="cr2e pr10">
          50 <strong class="cr666">元</strong>
        </span>
        <button type="button" class="btn btn-default ml20 frame-nradius">充值</button>
      </dd>
      <dd class="f14 cr999 mb10">
        <label class="fl ">诚信等级：</label>
        <div class="com-overflow">
          <span id="account-low-security" class="user-center-security">低</span>
          <span id="account-center-security" class="user-center-security">中</span>
          <span id="account-hight-security" class="user-center-security" >高</span>
        </div>
      </dd>
      <dd class="f14 cr999 mb10">
        <label class="fl pt5">验证信息：</label>
        <span class="cr999"> <i class="fa fa-envelope-o fa-lg p10"></i>
          <a class="cr999" href="">未验证</a>
        </span>
        <span class="cr999"> <i class="fa fa-mobile fa-lg p10"></i>
          <a class="cr999" href="">未验证</a>
        </span>
      </dd>
      <dd class="comm-line"></dd>
      <dd class="f14 cr999 mb10">
        <label class="fl">拼座成功次数：</label>
        <span class="cr2e pr10">
          10 <strong class="cr666">次</strong>
        </span>
      </dd>
    </dl>
  </div>
</div>

<div class=" page-list-bg com-overflow frame-border">
  <div class="col-xs-4 frame-border">
    <span class="fl user-indentify-icon">
        <i class="fa fa-3x fa-credit-card"></i>
    </span>
    <div class="fl user-indentify-name">
        <span>实名认证</span>
        <a href="#" class="user-indentify-verify  f14">
            <i class="fa fa-check-circle cr5a mr10"></i>
            已认证
        </a>
    </div>
    <p class="user-indentify-descrip cr999">实名认证后诚信指数大幅度提高用户可发布拼座需求，查找司机</p>
  </div>
  <div class="col-xs-4 frame-border">
    <span class="fl user-indentify-icon">
        <i class="fa fa-3x fa-credit-card"></i>
    </span>
    <div class="fl user-indentify-name">
        <span>驾驶认证</span>
        <a href="#" class="user-indentify-verify f14">
            <i class="fa  fa-question-circle mr10"></i>
            未认证
        </a>
    </div>
    <p class="user-indentify-descrip cr999">实名认证后诚信指数大幅度提高用户可发布拼座需求，查找司机</p>
  </div>
  <div class="col-xs-4 ">
    <span class="fl user-indentify-icon">
        <i class="fa fa-3x fa-credit-card"></i>
    </span>
    <div class="fl user-indentify-name">
        <span>车辆认证</span>
        <a href="#" class="user-indentify-verify f14">
            <i class="fa  fa-question-circle mr10"></i>
            未认证
        </a>
    </div>
    <p class="user-indentify-descrip cr999">实名认证后诚信指数大幅度提高用户可发布拼座需求，查找司机</p>
  </div>
</div>
<div class="page-list-bg p10 mt20 frame-border">
  <div class="user-cr">
    <dl class="cr666 f14">
      <dt class="f16 mb10">统计信息</dt>
      <dd class="comm-line"></dd>
      <dd class="f12 cr999 mb10">
          <label class="fl">长途拼座次数：</label>
          <span class="cr2e pr10">
              10
              <strong class="cr666">次</strong>
          </span>
          <a href="">
              <b class="cr666">【</b>
              查看详情
              <b class="cr666">】</b>
          </a>
      </dd>
      <dd class="f12 cr999 mb10">
          <label class="fl">上下班拼座次数：</label>
          <span class="cr2e pr10">
              10
              <strong class="cr666">次</strong>
          </span>
          <a href="">
              <b class="cr666">【</b>
              查看详情
              <b class="cr666">】</b>
          </a>
      </dd>
      <dd class="f12 cr999 mb10">
          <label class="fl">我的帖子</label>
          <span class="cr2e pr10">
              10
              <strong class="cr666">篇</strong>
          </span>
          <a href="">
              <b class="cr666">【</b>
              查看详情
              <b class="cr666">】</b>
          </a>
      </dd>
    </dl>
  </div>
</div>