<div class="header">
  <div class="wmw top-bg-usercenter">
    <div class="container">
      <div class="left-content h50">
        <div class="navbar">
          <a class="mt5 fl" href="#!home">
            <img src="images/user-center-logo.png">
          </a>
          <ul class="nav nav-pills pull-left mt5">
            <li class="dropdown">
              <a class="crfff frame-nradius p5" href="javascript:void(0)">
                  <%= username %>
                  <b class="pl2">▼</b>
              </a>
              <ul class="dropdown-menu user-top-dropdown-menu frame-nradius">
                <li>
                  <a href="user-account-basic.html">账号信息</a>
                </li>
                <li>
                  <a href="user-indentifdriver.html">账号认证</a>
                </li>
                <li>
                  <a id="logout" href="javascript:void(0)">退出</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="frame-nradius p5 ml10" href="javascript:void(0)">
                <i class="fa crfff  fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-pills  pull-right pt10">
        <li class="pull-right dropdown">
          <a class="f14 crfff frame-nradius p5" href="#menu4">
            网址导航 <b class="pl2 ">▼</b>
          </a>
          <ul class="dropdown-menu user-top-dropdown-menu frame-nradius">
            <li>
              <a href="#!home">首页</a>
            </li>
            <li>
              <a href="user-indentifdriver.html">账号认证</a>
            </li>
            <li>
              <a href="#!home">退出</a>
            </li>
          </ul>
        </li>
        <li class="pull-right dropdown">
          <a class="f14 crfff right-padding right-li" href="index.html">如何拼座？</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container" id="main">

  <div class="row">
    <div id="user-menu" class="col-xs-3 user-center-menu-col">

    </div>
    <div id="user-content" class="col-xs-9">

    </div>
  </div>

  <div class="row">
    <div class=" page-list-bg p10 mt20 frame-border  friends-links">
      <dl >
        <dt class="cr333 mb10 f14">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl>
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl >
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl>
        <dt class="cr333 f14 mb10">新手上路</dt>
        <dd >
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
        <dd>
          <a class="cr999 f12 p5" href="">新手入门</a>
        </dd>
      </dl>
      <dl class="friends-links-code-dl">
        <dt class="cr333 f14 mb5">加我们微信</dt>
        <dd class="friends-links-code-dd">
          <img class="friends-links-code-img" src="images/code.png">
        </dd>
      </dl>
    </div>

  </div>
  <!-- friends-links end -->
</div>
<!-- main  end -->
<!-- footer start -->
<div id="footer" class="text-center wmw p30 mt15 footer-bg" >

</div>


<script>
var source;
$(function(){
    var token = '<%== token %>';
    var login = '<%== login %>';
    if(token != null && token != ""){
        //fetchMessages(token,login);
    }
    
});

function fetchMessages(token,login) {

    setTimeout(function(){
        source = new EventSource('http://192.168.1.115:3000/pzz_messages/sync_messages?auth_token='+token+'&login='+login);
        source.addEventListener('new', function(e) {
            // 有新消息
            console.log('有新消息');
        }, false);

        source.addEventListener('uptodate', function(e) {
           // 没有新消息 
           console.log('没有新消息');
        }, false);

        source.addEventListener('open', function(e) {
            // Connection was opened.
        }, false);

        source.addEventListener('error', function(e) {
           if (e.readyState == EventSource.CLOSED) {
             // Connection was closed.
             console.log(e.message);
            }
        }, false);
    }, 2000);
}
</script>